<div>
    <div class="code">
        <div>Links</div>
        <label>Badges can be added inside links.</label>
        <div class="row" style="margin-top: 20px">
            <div class="col l2 m3 s6">
                <div data-field="link" style="position: relative;"></div>
            </div>
            <div class="col l2 m3 s6">
                <div data-field="icon" style="position: relative;"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Collections</div>
        <label>You can easily add badge inside collection item.</label>
        <div data-field="collection"></div>
    </div>

    <div class="code">
        <div>Dropdown</div>
        <label>Badges can be also added inside dropdown links.</label>
        <div data-field="button" style="display: block;"></div>
    </div>

    <div class="code">
        <div>NavBar</div>
        <label>You can easily add badge inside the NavSection.</label>
        <div data-field="navBar"></div>
    </div>
</div>