<div>
    <div class="code">
        <div>Text Only</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="navbar1" style="padding-left: 20px;"></div>
        </div>
    </div>

    <div class="code">
        <div>Only Icons</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="navbar2" style="padding-left: 20px;"></div>
        </div>
    </div>

    <div class="code">
        <div>Text with Icons</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="navbar3" style="padding-left: 20px;"></div>
        </div>
    </div>
</div>