<div>
    <div class="code">
        <div>Raised</div>
        <label>The raised button is a standard button that signify actions and seek to give depth to a mostly flat page.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btn1"></div>
            <div data-field="btn2"></div>
            <div data-field="btn3"></div>
            <div data-field="btn4"></div>
            <div data-field="btn5"></div>
        </div>
    </div>

    <div class="code">
        <div>Floating</div>
        <label>The floating circular action button is meant for very important functions.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnFloating1"></div>
            <div data-field="btnFloating2"></div>
            <div data-field="btnFloating3"></div>
            <div data-field="btnFloating4"></div>
            <div data-field="btnFloating5"></div>
        </div>
    </div>

    <div class="code">
        <div>Flat</div>
        <label>Flat buttons are usually used within elements that already have depth like cards or modals.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnFlat1"></div>
            <div data-field="btnFlat2"></div>
            <div data-field="btnFlat3"></div>
            <div data-field="btnFlat4"></div>
        </div>
    </div>

    <div class="code">
        <div>Icon Button</div>
        <label>Using MaterialIcon component extends ButtonBased which has predefined click events and functionalities</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnIconButton1"></div>
            <div data-field="btnIconButton2"></div>
            <div data-field="btnIconButton3"></div>
        </div>
    </div>

    <div class="code">
        <div>Large</div>
        <label>This button has a larger height for buttons that need more attention.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnLarge1"></div>
            <div data-field="btnLarge2"></div>
            <div data-field="btnLarge3"></div>
            <div data-field="btnLarge4"></div>
        </div>
    </div>

    <div class="code">
        <div>Disabled</div>
        <label>When you set enabled='false' All events will be disabled.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnDisabled1"></div>
            <div data-field="btnDisabled2"></div>
            <div data-field="btnDisabled3"></div>
            <div data-field="btnDisabled4"></div>
        </div>
    </div>

    <div class="code">
        <div>Events</div>
        <label>MaterialButtons , MaterialIcons and MaterialLinks extends ButtonBase which implements all Mouse Handlers, Click Handlers and other events.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnEvents1"></div>
            <div data-field="btnEvents2"></div>
            <div data-field="btnEvents3"></div>
        </div>
    </div>

    <div class="code">
        <div>Links</div>
        <label>Using Material Link you can easily add href functionality into your app for navigation</label>
        <div class="row" style="margin-top: 20px">
            <div style="display: inline-block">
                <div data-field="btnLink1"></div>
            </div>
            <div style="display: inline-block">
                <div data-field="btnLink2"></div>
            </div>
            <div style="display: inline-block">
                <div data-field="btnLink3"></div>
            </div>
        </div>
    </div>

</div>