<div>
    <div class="code">
        <div>Basic Card</div>
        <div class="row" style="margin-top: 20px">
            <div class="col l4 s12">
                <div data-field="cardBasic"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Card Image</div>
        <div class="row" style="margin-top: 20px">
            <div class="col l4 s12">
                <div data-field="cardImage"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Horizontal Type</div>
        <label>This card is good for short contents and not too may actions. For best view you are required to set the column grid='l6 m6 s12'.</label>
        <div class="row" style="margin-top: 20px">
            <div class="col l6 s12">
                <div data-field="cardHorizontal"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Mobile</div>
        <label>Open this card on a mobile device to test.</label>
        <div class="row" style="margin-top: 20px">
            <div class="col l6 s12">
                <div data-field="cardMobile"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Card Reveal</div>
        <div class="row" style="margin-top: 20px">
            <div class="col l4 s12">
                <div data-field="cardReveal"></div>
            </div>
        </div>
    </div>
</div>