<div>
    <div class="code">
        <div>Simple Chip</div>
        <label>If you want just text only chip, you can use this for autocomplete textbox and search capability</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="chip1"></div>
            <div data-field="chip2" class="white-text"></div>
            <div data-field="chip3" class="white-text"></div>
            <div data-field="chip4" class="white-text"></div>
            <div data-field="chip5" class="white-text"></div>
        </div>
    </div>

    <div class="code">
        <div>Letter Chip</div>
        <label>You can specify a letter as an avatar from Aa to Zz.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="letterChip1"></div>
            <div data-field="letterChip2"></div>
            <div data-field="letterChip3"></div>
            <div data-field="letterChip4"></div>
        </div>
    </div>

    <div class="code">
        <div>Static Chip</div>
        <label>Static chips cannot be selected, removed or edited, and are not part of any model.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="staticChip1"></div>
            <div data-field="staticChip2"></div>
            <div data-field="staticChip3"></div>
        </div>
    </div>

    <div class="code">
        <div>Contact Chip</div>
        <label>Contact chips represent contact information that users have for people in a compact way. They are invoked and inserted into a text field (usually the To field) when the user starts typing a contacts name, sees the contacts addresses, and selects the correct one. Contact chips can be added directly to a text field from a menu of contacts. Contact chips efficiently confirm that the user will be sending their message to the correct person.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="contactChip1"></div>
            <div data-field="contactChip2"></div>
            <div data-field="contactChip3"></div>
        </div>
    </div>

    <div class="code">
        <div>Events</div>
        <label>Adding events on chip is easy, you can get the secondary icon by calling getIcon() then addClickHandles etc.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="event1"></div>
            <div data-field="event2"></div>
        </div>
    </div>
</div>