<div>
    <div class="code">
        <div>Accordion</div>
        <label>MaterialCollapsible defaults to accordion expansion type.'</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="accordion"></div>
        </div>
    </div>

    <div class="code">
        <div>Expandable</div>
        <label>You can set the accordion type by adding an attribute accordion='false'</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="expandable"></div>
        </div>
    </div>

    <div class="code">
        <div>Popout</div>
        <label>You can set the popout type by adding an attribute type='POPOUT'</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="popout"></div>
        </div>
    </div>

    <div class="code">
        <div>Preselected Section</div>
        <label>If you want a collapsible with a preopened section just add active='1' the parameter is the index of the collapsible item.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="colapsPreselected"></div>
        </div>
    </div>

    <div class="code">
        <div>Nested Collapsibles</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="colapsNested"></div>
        </div>
    </div>

    <div class="code">
        <div>Collapsible Secondary Icons</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="colapsSecondary"></div>
        </div>
    </div>
</div>