<div>
    <div class="code">
        <div>Basic</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionBasic"></div>
        </div>
    </div>

    <div class="code">
        <div>Preselection</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionSelection"></div>
        </div>
    </div>

    <div class="code">
        <div>Header</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionHeader"></div>
        </div>
    </div>

    <div class="code">
        <div>Secondary Content</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionSecondary"></div>
        </div>
    </div>

    <div class="code">
        <div>Avatar</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionAvatar"></div>
        </div>
    </div>

    <div class="code">
        <div>Dismissable</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionDismissable"></div>
        </div>
    </div>

    <div class="code">
        <div>Single Action Checkboxes</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionCheckBox"></div>
        </div>
    </div>

    <div class="code">
        <div>Clickable Items with Secondary Controls</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionSwitch"></div>
        </div>
    </div>
</div>