<div>

    <div class="code">
        <div>Default</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpBasic" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Mobile Support</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpMobile" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Disabled</div>
        <label>You can disable the datepicker by adding enabled='false'</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpDisabled" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Date Picker Selection Types</div>
        <label>You can set easily the selection type of your datepicker by adding an attribute, selectionType='YEAR'. Here is the available formats [DAY, MONTH_DAY, YEAR_MONTH_DAY, YEAR]</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpSelection" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Set / Get Date</div>
        <label>You can set easily the selection type of your datepicker by adding an attribute, selectionType='YEAR'. Here is the available formats [DAY, MONTH_DAY, YEAR_MONTH_DAY, YEAR]</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpGetSetDate" class="col s12"></div>
            <div data-field="btnSetDate"></div>
            <div data-field="btnGetDate"></div>
        </div>
    </div>

    <div class="code">
        <div>Formats</div>
        <label>You can set the format of the date picker by adding format='FORMAT'</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpFormats" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Auto Close</div>
        <label>Provides a way to automatically closes the datepicker after selecting dates.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpAutoClose" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Date Limit</div>
        <label>You can limit the date by calling setDateLimit(Date min, Date max) method.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpLimit" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Clear()</div>
        <label>Clearing the value of datepicker.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpClear" class="col s12"></div>
            <div data-field="btnClear"></div>
        </div>
    </div>

    <div class="code">
        <div>Events</div>
        <label>We provided events on date picker namely : Close, Open, ValueChange events.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpEvents" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Programmatic Control (Open / Close)</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="dpOpenClose" class="col s12"></div>
            <div data-field="btnOpenDp"></div>
        </div>
    </div>
</div>