<div>
    <div class="code">
        <div>Default</div>
        <label>Add a dropdown list to any button. Make sure to add the property activates to be able to initialize the dropdown plugin, it will use that as your id on your dropdown menu.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnDropdown1"></div>
        </div>
    </div>

    <div class="code">
        <div>Designing</div>
        <label>You can add divider, waves and color attributes to your dropdown. On items you can use any Material Widgets like MaterialLink, MaterialButton etc. to add it inside the dropdown.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnDropdown2"></div>
        </div>
    </div>

    <div class="code">
        <div>Icon Dropdown</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnDropdown3"></div>
        </div>
    </div>

    <div class="code">
        <div>Inside NavBar</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="navbarDropdown"></div>
        </div>
    </div>

    <div class="code">
        <div>Selection Event</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnDropdown4"></div>
        </div>
    </div>
</div>