<div>
    <div class="code">
        <div>Fixed Action Button</div>
        <label>If you want a fixed floating action button, you can add multiple actions that will appear on hover. Our demo is in the bottom righthand corner of the page.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="fabBasic"></div>
        </div>
    </div>

    <div class="code">
        <div>Open / Close FAB</div>
        <label>You can also open the Fixed Action Button Menu programatically.</label>
        <div class="row" style="position: absolute; left: 200px;width: 56px;">
            <div data-field="fabOpenClose" style="position: absolute;top: 0px;"></div>
        </div>
        <div class="row" style="margin-top: 80px">
            <div data-field="btnOpen"></div>
            <div data-field="btnClose"></div>
        </div>
    </div>

    <div class="code" style="height: 160px;">
        <div>Axis : Horizontal</div>
        <label>Creating a horizontal FAB is easy! Just add axis='HORIZONTAL'.</label>
        <div class="row" style="top: 0px;position: absolute;left: 200px;width: 56px;">
            <div data-field="fabAxis" style="position: absolute;top: 80px;"></div>
        </div>
    </div>

    <div class="code" style="height: 160px;">
        <div>FAB Type : Click Only</div>
        <label>If you want to disable the hover behaviour, and instead toggle the FAB menu when the user clicks on the large button (works great on mobile!), Just add type='CLICK_ONLY'</label>
        <div class="row" style="top: 0px;position: absolute;left: 200px;width: 56px;">
            <div data-field="fabClickOnly" style="position: absolute;top: 80px;"></div>
        </div>
    </div>

    <div class="code" style="height: 160px;">
        <div>Open / Close Events</div>
        <label>You can add open / close event handler to any fab component.</label>
        <div class="row" style="top: 0px;position: absolute;left: 200px;width: 56px;">
            <div data-field="fabEvents" style="position: absolute;top: 80px;"></div>
        </div>
    </div>
</div>