<div>
    <div class="code">
        <div>TextBox</div>
        <label>Text fields allow user input. The border should light up simply and clearly indicating which field the user is currently editing.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtBox1" class="col s12"></div>
            <div data-field="txtBox2" class="col s12"></div>
            <div data-field="txtBox3" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Placeholder and Label</div>
        <label>There are two types of showing labels to the textbox, the floating inline labels move to float above the field. While the other is called Placeholder or Hint Text which will be hidden once user types on the textbox.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtBoxLabel" class="col s12"></div>
            <div data-field="txtBoxPlaceholder" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Events</div>
        <label>We provided a useful events to any ValueBox component.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtBoxValueChange" class="col s12"></div>
            <div data-field="txtBoxKey" class="col s12"></div>
            <div data-field="txtBoxFocus" class="col s12"></div>
            <div data-field="txtBoxBlur" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Textarea</div>
        <label>Textareas use a resize policy that can be configured to suit your need.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtArea1" class="col s12"></div>
            <div data-field="txtArea2" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Character Counter</div>
        <label>Use a character counter in fields where a character restriction is in place.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtCharCounter1" class="col s12"></div>
            <div data-field="txtCharCounter2" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Number Value Box</div>
        <label>We provided additional value boxes : Material Float, Integer, Double and Long boxes for specific data format.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtFloat1" class="col s12"></div>
            <div data-field="txtInteger1" class="col s12"></div>
            <div data-field="txtDouble1" class="col s12"></div>
            <div data-field="txtLong1" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Disabled Styles</div>
        <label>You can disable any text field by adding enabled='false'</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtDisTextBox" class="col s12"></div>
            <div data-field="txtDisTextArea" class="col s12"></div>
            <div data-field="txtDisFloat" class="col s12"></div>
            <div data-field="txtDisInteger" class="col s12"></div>
            <div data-field="txtDisDouble" class="col s12"></div>
            <div data-field="txtDisLong" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Read Only Mixin</div>
        <label>Easily convert your editable fields to read mode.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtBoxRO" class="col s12"></div>
            <div data-field="txtAreaRO" class="col s12"></div>
            <div data-field="txtFloatRO" class="col s12"></div>
            <div data-field="txtIntegerRO" class="col s12"></div>
            <div data-field="txtDoubleRO" class="col s12"></div>
            <div data-field="txtLongRO" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Toggle Read Only</div>
        <label>Toggle your read only fields to editable fields.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtBoxTRO" class="col s12"></div>
            <div data-field="txtAreaTRO" class="col s12"></div>
            <div data-field="txtFloatTRO" class="col s12"></div>
            <div data-field="txtIntegerTRO" class="col s12"></div>
            <div data-field="txtDoubleTRO" class="col s12"></div>
            <div data-field="txtLongTRO" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>ListBox</div>
        <label>Select allows user input through specified options.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="lstBox1" class="col s12"></div>
            <div data-field="lstBoxDisabled" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>ListBox Events and Methods</div>
        <label>We provided useful events (ValueChange) and methods to control your listbox items.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="lstBox2" class="col s12"></div>
            <div data-field="btnAddItem" style="margin-top: 24px;"></div>
            <div data-field="btnInsertItem" style="margin-top: 24px;"></div>
            <div data-field="btnRemoveItem" style="margin-top: 24px;"></div>
            <div data-field="btnClear" style="margin-top: 24px;"></div>
            <div data-field="btnSetSelected" style="margin-top: 24px;"></div>
            <div data-field="btnGetSelected" style="margin-top: 24px;"></div>
        </div>
    </div>

    <div class="code">
        <div>Radio Button</div>
        <label>Radio Buttons are used when the user must make only one selection out of a group of items</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="rb1"></div>
            <div data-field="rb2"></div>
            <div data-field="rb3"></div>
            <div data-field="rb4"></div>
        </div>
    </div>

    <div class="code">
        <div>Check Box</div>
        <label>A checkbox is used to verify which options you want selected from a group.</label>
        <div class="row" style="margin-top: 20px">
            <div class="col l2 m3 s12">
                <div data-field="cb1"></div>
                <div data-field="cb2"></div>
                <div data-field="cb3"></div>
                <div data-field="cb4"></div>
                <div data-field="cb5"></div>
                <div data-field="cb6"></div>
            </div>
            <div class="col l2 m3 s12">
                <div data-field="cbAll"></div>
                <div data-field="cb7"></div>
                <div data-field="cb8"></div>
                <div data-field="cb9"></div>
                <div data-field="cb10"></div>
                <div data-field="cb11"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Switches</div>
        <label>A toggle switch is used as an on/off control.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="switch1"></div>
            <div data-field="switch2"></div>
            <div data-field="switch3"></div>
            <div data-field="switch4"></div>
        </div>
    </div>

    <div class="code">
        <div>Range</div>
        <label>A slider / range is an interface for users to input a value in a range. </label>
        <div class="row" style="margin-top: 20px">
            <div data-field="range" class="col s12 m6 l4"></div>
        </div>
    </div>
</div>