<div>
    <div class="code">
        <div>Material Box</div>
        <label>Material box is a material design implementation of the Lightbox plugin. When a user clicks on an image that can be enlarged. Material box centers the image and enlarges it in a smooth, non-jarring manner. To dismiss the image, the user can either click on the image again, scroll away, or press the ESC key.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="image"></div>
        </div>
    </div>

    <div class="code">
        <div>Circle</div>
        <label>You can easily turn your image into circular by calling setType(ImageType.CIRCLE)</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="imageCircle"></div>
        </div>
    </div>

    <div class="code">
        <div>Responsive Videos</div>
        <label>We provide a container for Embedded Videos that resizes them responsively.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="video"></div>
        </div>
    </div>

    <div class="code">
        <div>Material Slider</div>
        <label>Our slider is a simple and elegant image carousel. You can also have captions that will be transitioned on their own depending on their alignment. You can also have indicators that show up on the bottom of the slider. Note: This is also Hammer.js compatible! Try swiping with your finger to scroll through the slider.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="slider"></div>
        </div>
    </div>
</div>