<div>
    <div class="code">
        <div>Basic</div>
        <label>Use a modal for dialog boxes, confirmation messages, or other content that can be called up. You can set the type by adding, type='DEFAULT, FIXED_FOOTER, BOTTOM_SHEET'</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnBasic"></div>
            <div data-field="modalBasic"></div>
        </div>
    </div>

    <div class="code">
        <div>Fixed Footer</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnFixedFooter"></div>
            <div data-field="modalFixedFooter"></div>
        </div>
    </div>

    <div class="code">
        <div>Bottom Sheet</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnBottomSheet"></div>
            <div data-field="modalBottomSheet"></div>
        </div>
    </div>

    <div class="code">
        <div>Auto Hide Modals</div>
        <label>Just set the boolean parameter on the method showModal. If TRUE == you can click outside and the modal will be close.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnAutoHide"></div>
            <div data-field="modalAutoHide"></div>
        </div>
    </div>

    <div class="code">
        <div>Events</div>
        <label>We provided open / close events on modal.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnEvents"></div>
            <div data-field="modalEvents"></div>
        </div>
    </div>
</div>