<div>
    <div class="code">
        <div>Links ,Icons, and Waves</div>
        <label>Based on material links you can add icons, link with icons or link only and apply ripple effect by adding waves attribute.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="navbar1"></div>
        </div>
    </div>

    <div class="code">
        <div>Alignment</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="navbar2"></div>
        </div>
    </div>

    <div class="code">
        <div>Shrink Type</div>
        <div class="row" style="margin-top: 20px">
            <img class="col s12" src="http://oi63.tinypic.com/dqnpy1.jpg" />
        </div>
    </div>

    <div class="code">
        <div>Fixed Type</div>
        <div class="row" style="margin-top: 20px">
            <img class="col s6" src="https://cloud.githubusercontent.com/assets/3138071/10072886/d4bb530e-6279-11e5-93ae-e3d8622a1236.gif" />
        </div>
    </div>

    <div class="code">
        <div>Tall Type</div>
        <div class="row" style="margin-top: 20px">
            <img class="col s12" src="https://cloud.githubusercontent.com/assets/3138071/10072883/d2121638-6279-11e5-8e84-5fbcec8148f5.PNG" />
        </div>
    </div>
</div>