<div>
    <div class="code">
        <div>Basic</div>
        <label>You can add a Label as a Tab Item and for contents any Material Widget can be added as a Tab Content</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="tabBasic"></div>
            <div data-field="basicContent" style="padding: 20px; background: #e9e9e9;"></div>
        </div>
    </div>

    <div class="code">
        <div>Disabled Tab Item</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="tabDisabled"></div>
            <div data-field="disabledContent" style="padding: 20px; background: #e9e9e9;"></div>
        </div>
    </div>

    <div class="code">
        <div>Indicator Color</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="tabIndicator"></div>
            <div data-field="indicatorContent" style="padding: 20px; background: #e9e9e9;"></div>
        </div>
    </div>

    <div class="code">
        <div>Set Tab Index Method</div>
        <label>By calling this method, you can easily preselect a tab index. Note the index will start at 1.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="tabIndex"></div>
            <div data-field="indexContent" style="padding: 20px; background: #e9e9e9;"></div>
        </div>
    </div>

    <div class="code">
        <div>Tabs with Icons</div>
        <label>You can add icons by setting the type='ICON' on MaterialTab.</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="tabIcon"></div>
            <div data-field="iconContent" style="padding: 20px; background: #e9e9e9;"></div>
        </div>
    </div>
</div>