<div>

    <div class="code">
        <div>As property</div>
        <label>You can easily set any material widget tooltip by adding setTooltip("I am tooltip")</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnBottom"></div>
            <div data-field="btnTop"></div>
            <div data-field="btnLeft"></div>
            <div data-field="btnRight"></div>
        </div>
    </div>

    <div class="code">
        <div>Tooltip Html</div>
        <label>You can configure the out put of the tooltip by calling setTooltipHtml(html)</label>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnHtml"></div>
        </div>
    </div>
</div>