html {
    background-color: #e9e9e9;
}

body {
    overflow: auto !important;
}

/** Header **/
header nav .button-collapse i {
    font-size: 1.5rem;
}

header nav ul {
    float: right;
}

[data-title="Picture"] {
    width: 60px;
}

.titlePanel {
    width: 100%;
    margin-top: 64px;
    color: #fff;
    padding: 80px;
    padding-top: 80px;
}

/** Sidenav **/
.side-nav li.active a span, .side-nav li.active a i {
    color: #000;
}

.side-nav li.active, .side-nav li:hover {
    background-color: #F5F5F5;
}

/** Main **/
main {
    margin-top: -40px;
}

main .demo-content {
    margin-top: -60px;
    padding-left: 80px;
    padding-right: 80px;
}

/** Code **/
.code {
    position: relative;
    background: white;
    padding: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}

.code blockquote {
    font-size: 0.9em;
}

.code .lang {
    background: #9a9a9a;
    display: inline;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.code i.code {
    position: absolute;
    right: 20px;
    top: 10px;
}

.code pre {
    background: #f2f2f2;
    max-height: 0px;
    overflow: auto;
    font-size: 0.8em;
    transition: 500ms all;
    margin-bottom: 10px;
    padding-top: 16px;
}

.code pre.active {
    max-height: 1400px !important;
}

/** Responsive **/
/* Mobile down */
@media only screen and (max-width: 600px) {
    .code {
        margin: 12px;
    }

    .titlePanel {
        margin-top: 56px;
    }
}

/* Tablets and up */
@media screen and (min-width: 768px) {

}

.followWrap {
    height: 45px !important;
}

.themes .select2-selection__rendered {
    color: white !important;
}

.titlePanel .chip {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    nav.navbar-fixed {
        width: 100% !important;
    }
}

table tbody tr td img {
    max-width: initial !important;
}

.lean-overlay {
    z-index: 1001 !important;
}