<div>
    <div class="code">
        <div>Links</div>
        <label>Badges can be added inside links.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>
                &lt;div data-field="link" style="position: relative;">&lt;/div>
                &lt;div data-field="icon" style="position: relative;">&lt;/div>
            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>
                @Inject
                @DataField
                MaterialLink link;

                @Inject
                @DataField
                MaterialLink icon;

                @PostConstruct
                public void init() {
                    link.setText("Link");
                    MaterialBadge badge = new MaterialBadge();
                    badge.setText("1 new");
                    badge.setRight(-70);
                    badge.setBackgroundColor("pink");
                    link.add(badge);

                    icon.setIconType(IconType.NOTIFICATIONS);
                    MaterialBadge badge2 = new MaterialBadge();
                    badge2.setText("1");
                    badge2.setRight(0);
                    badge2.setCircle(true);
                    badge2.setBackgroundColor("pink");
                    icon.add(badge2);
                }
            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div class="col l2 m3 s6">
                <div data-field="link" style="position: relative;"></div>
            </div>
            <div class="col l2 m3 s6">
                <div data-field="icon" style="position: relative;"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Collections</div>
        <label>You can easily add badge inside collection item.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>
                &lt;div data-field="collection">&lt;/div>
            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>
                @Inject
                @DataField
                MaterialCollection collection;

                @PostConstruct
                public void init() {
                    for(int i = 1; i <= 5; i++) {
                        MaterialCollectionItem item = new MaterialCollectionItem();
                        MaterialLink link = new MaterialLink("Sample " + i);
                        MaterialBadge badge = new MaterialBadge();
                        badge.setText("1 new");
                        badge.setBackgroundColor("blue");
                        link.add(badge);
                        item.add(link);
                        collection.add(item);
                    }
                }
            </code>
        </pre>
        <div data-field="collection"></div>
    </div>

    <div class="code">
        <div>Dropdown</div>
        <label>Badges can be also added inside dropdown links.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>
                &lt;div data-field="button">&lt;/div>
            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>
                @Inject
                @DataField
                MaterialButton button;

                @Inject
                MaterialDropDown dp;

                @PostConstruct
                public void init() {
                    button.add(dp);
                    button.setText("Dropdown");
                    button.setIconPosition(IconPosition.RIGHT);
                    button.setIconType(IconType.ARROW_DROP_DOWN);
                    for (int i = 1; i <= 3; i++) {
                    MaterialLink link = new MaterialLink("Sample " + i);
                    MaterialBadge badge = new MaterialBadge();
                    badge.setText("1 new");
                    badge.setBackgroundColor("blue");
                    link.add(badge);
                    dp.add(link);
                }
            </code>
        </pre>
        <div data-field="button"></div>
    </div>

    <div class="code">
        <div>NavBar</div>
        <label>You can easily add badge inside the NavSection.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>
                &lt;div data-field="navBar">&lt;/div>
            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>
                @Inject
                @DataField
                MaterialNavBar navBar;

                @Inject
                MaterialNavSection navSection;

                @PostConstruct
                public void init() {
                    icon.setIconType(IconType.NOTIFICATIONS);
                    MaterialBadge badge = new MaterialBadge();
                    badge.setText("1");
                    badge.setRight(0);
                    badge.setCircle(true);
                    badge.setBackgroundColor("pink");
                    icon.add(badge);
                    navBar.add(navSection);
                    navSection.add(icon);
                }
            </code>
        </pre>
        <div data-field="navBar"></div>
    </div>
</div>