<div>
    <div class="code">
        <div>Text Only</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="navbar1" style="padding-left: 20px;"></div>
        </div>
    </div>

    <div class="code">
        <div>Only Icons</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
            </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="navbar2" style="padding-left: 20px;"></div>
        </div>
    </div>

    <div class="code">
        <div>Text with Icons</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
            </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
            </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="navbar3" style="padding-left: 20px;"></div>
        </div>
    </div>
</div>