<div>
    <div class="code">
        <div>Basic Card</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div class="col l4">
                <div data-field="cardBasic"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Card Image</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div class="col l4">
                <div data-field="cardImage"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Horizontal Type</div>
        <label>This card is good for short contents and not too may actions. For best view you are required to set the column grid='l6 m6 s12'.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div class="col l6">
                <div data-field="cardHorizontal"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div>Card Reveal</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div class="col l4">
                <div data-field="cardReveal"></div>
            </div>
        </div>
    </div>
</div>