<div>
    <div class="code">
        <div>Basic</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionBasic"></div>
        </div>
    </div>

    <div class="code">
        <div>Preselection</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionSelection"></div>
        </div>
    </div>

    <div class="code">
        <div>Header</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionHeader"></div>
        </div>
    </div>

    <div class="code">
        <div>Secondary Content</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionSecondary"></div>
        </div>
    </div>

    <div class="code">
        <div>Avatar</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionAvatar"></div>
        </div>
    </div>

    <div class="code">
        <div>Dismissable</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionDismissable"></div>
        </div>
    </div>

    <div class="code">
        <div>Single Action Checkboxes</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionCheckBox"></div>
        </div>
    </div>

    <div class="code">
        <div>Clickable Items with Secondary Controls</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="collectionSwitch"></div>
        </div>
    </div>
</div>