<div>
    <div class="code">
        <div>Autocomplete</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="autocomplete" class="col s12 m6 l4"></div>
            <div data-field="buttonPanel" class="col s12 m12 l12"></div>
        </div>
    </div>

    <div class="code">
        <div>Date Picker</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="datePicker" class="col s12 m6 l4"></div>
            <div data-field="buttonDpPanel" class="col s12 m12 l12"></div>
        </div>
    </div>

    <div class="code">
        <div>Time Picker</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="timePicker" class="col s12 m6 l4"></div>
            <div data-field="buttonTpPanel" class="col s12 m12 l12"></div>
        </div>
    </div>

    <div class="code">
        <div>Range</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="range" class="col s12 m6 l4"></div>
            <div data-field="buttonRangePanel" class="col s12 m12 l12"></div>
        </div>
    </div>

    <div class="code">
        <div>Switch</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="switch1" class="col s12 m6 l4"></div>
            <div data-field="buttonSwitchPanel" class="col s12 m12 l12"></div>
        </div>
    </div>

    <div class="code">
        <div>Text Area</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="textArea" class="col s12 m6 l4"></div>
            <div data-field="buttonTextAreaPanel" class="col s12 m12 l12"></div>
        </div>
    </div>

    <div class="code">
        <div>Text Box</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="textBox" class="col s12 m6 l4"></div>
            <div data-field="buttonTextBoxPanel" class="col s12 m12 l12"></div>
        </div>
    </div>

    <div class="code">
        <div>Combo Box</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="comboBox" class="col s12 m6 l4"></div>
            <div data-field="buttonComboBoxPanel" class="col s12 m12 l12"></div>
        </div>
    </div>
</div>