<div>
    <div class="code">
        <div>Introduction</div>
        <label>We use flexbox to structure our html so that the footer is always on the bottom of the page.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="footer"></div>
        </div>
    </div>
</div>