<div>
    <div class="code">
        <div>TextBox</div>
        <label>Text fields allow user input. The border should light up simply and clearly indicating which field the user is currently editing.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtBox1" class="col s12"></div>
            <div data-field="txtBox2" class="col s12"></div>
            <div data-field="txtBox3" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Events</div>
        <label>We provided a useful events to any ValueBox component.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtBoxValueChange" class="col s12"></div>
            <div data-field="txtBoxKey" class="col s12"></div>
            <div data-field="txtBoxFocus" class="col s12"></div>
            <div data-field="txtBoxBlur" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Textarea</div>
        <label>Textareas use a resize policy that can be configured to suit your need.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtArea1" class="col s12"></div>
            <div data-field="txtArea2" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Character Counter</div>
        <label>Use a character counter in fields where a character restriction is in place.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtCharCounter1" class="col s12"></div>
            <div data-field="txtCharCounter2" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Number Value Box</div>
        <label>We provided additional value boxes : Material Float, Integer, Double and Long boxes for specific data format.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtFloat1" class="col s12"></div>
            <div data-field="txtInteger1" class="col s12"></div>
            <div data-field="txtDouble1" class="col s12"></div>
            <div data-field="txtLong1" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Disabled Styles</div>
        <label>You can disable any text field by adding enabled='false'</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="txtDisTextBox" class="col s12"></div>
            <div data-field="txtDisTextArea" class="col s12"></div>
            <div data-field="txtDisFloat" class="col s12"></div>
            <div data-field="txtDisInteger" class="col s12"></div>
            <div data-field="txtDisDouble" class="col s12"></div>
            <div data-field="txtDisLong" class="col s12"></div>
        </div>
    </div>

    <div class="code">
        <div>Floating</div>
        <label>The floating circular action button is meant for very important functions.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="lstBox1"></div>
        </div>
    </div>
</div>