<div>
    <div class="code">
        <div>Circular</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnCircular"></div>
        </div>
    </div>

    <div class="code">
        <div>Progress</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="btnProgress"></div>
        </div>
    </div>

    <div class="code">
        <div>Determinate Type</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="progress"></div>
        </div>
    </div>

    <div class="code">
        <div>Indeterminate Type</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="progress2"></div>
        </div>
    </div>

    <div class="code">
        <div>Stand alone Loaders</div>
        <div class="row" style="margin-top: 20px">
            <div data-field="loader1"></div>
            <div data-field="loader2"></div>
            <div data-field="loader3"></div>
        </div>
    </div>
</div>