<div>
    <div class="code">
        <div>Fixed Type</div>
        <div class="row" style="margin-top: 20px">
            <img class="col s6" src="https://cloud.githubusercontent.com/assets/3138071/10042710/e988f530-61a1-11e5-8e25-71ab5adf9d12.png" />
        </div>
    </div>

    <div class="code">
        <div>Fixed Type Variations</div>
        <div class="row" style="margin-top: 20px">
            <div class="col s12">Variation 1 : Floating</div>
            <img class="col s6" src="http://i.imgur.com/fhOn7h4.png" />
            <div class="col s12">Variation 2 : Clip</div>
            <img class="col s6" src="http://i.imgur.com/hKKN3Fy.png" />
        </div>
    </div>

    <div class="code">
        <div>Card Type</div>
        <div class="row" style="margin-top: 20px">
            <img class="col s12" src="https://cloud.githubusercontent.com/assets/3138071/10065493/bba5e930-623b-11e5-87c8-79dccfdad431.png" />
        </div>
    </div>

    <div class="code">
        <div>Mini Type</div>
        <div class="row" style="margin-top: 20px">
            <img class="col s6" src="https://cloud.githubusercontent.com/assets/3138071/10043841/edc85e3e-61aa-11e5-8f78-0ab2e257befd.gif" />
        </div>
    </div>

    <div class="code">
        <div>Push Type</div>
        <div class="row" style="margin-top: 20px">
            <img class="col s6" src="https://cloud.githubusercontent.com/assets/3138071/10043075/f0355e0c-61a4-11e5-8a1c-367a682a8bec.gif" />
        </div>
    </div>

    <div class="code">
        <div>Profile SideNav</div>
        <div class="row" style="margin-top: 20px">
            <img class="col s12" src="https://cloud.githubusercontent.com/assets/3138071/11274662/ccdb1e7c-8f14-11e5-821f-f88eb34ff438.png" />
        </div>
    </div>
</div>