<div>
    <div class="code">
        <div>Basic</div>
        <label>Use a modal for dialog boxes, confirmation messages, or other content that can be called up. You can set the type by adding, type='DEFAULT, FIXED_FOOTER, BOTTOM_SHEET'</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
        <div class="lang">HTML</div>
        <code>

        </code>
    </pre>
        <pre>
        <div class="lang">Java</div>
        <code>

        </code>
    </pre>
        <div class="row" data-field="rowBasic" style="margin-top: 20px"></div>
    </div>

    <div class="code">
        <div>Disabled Tab Item</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
        <div class="lang">HTML</div>
        <code>

        </code>
    </pre>
        <pre>
        <div class="lang">Java</div>
        <code>

        </code>
    </pre>
        <div class="row" data-field="rowDisabled" style="margin-top: 20px"></div>
    </div>

    <div class="code">
        <div>Set Tab Index Method</div>
        <label>By calling this method, you can easily preselect a tab index.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
        <div class="lang">HTML</div>
        <code>

        </code>
    </pre>
        <pre>
        <div class="lang">Java</div>
        <code>

        </code>
    </pre>
        <div class="row" data-field="rowTabIndex" style="margin-top: 20px"></div>
        <div data-field="btnSetIndex"></div>
    </div>

    <div class="code">
        <div>Tabs with Icons</div>
        <label>By calling this method, you can easily preselect a tab index.</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
        <div class="lang">HTML</div>
        <code>

        </code>
    </pre>
        <pre>
        <div class="lang">Java</div>
        <code>

        </code>
    </pre>
        <div class="row" data-field="rowWithIcons" style="margin-top: 20px"></div>
    </div>

    <div class="code">
        <div>Indicator Color</div>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
        <div class="lang">HTML</div>
        <code>

        </code>
    </pre>
        <pre>
        <div class="lang">Java</div>
        <code>

        </code>
    </pre>
        <div class="row" data-field="rowIndicatorColor" style="margin-top: 20px"></div>
    </div>
</div>