<div>
    <div class="code">
        <div>Basic</div>
        <label>You can add a Label as a Tab Item and for contents any Material Widget can be added as a Tab Content</label>
        <i class="material-icons waves-default waves-effect circle code">code</i>
        <pre>
            <div class="lang">HTML</div>
            <code>

            </code>
        </pre>
        <pre>
            <div class="lang">Java</div>
            <code>

            </code>
        </pre>
        <div class="row" style="margin-top: 20px">
            <div data-field="tabBasic"></div>
        </div>
    </div>
</div>